@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<MudGrid>
      <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
               <MudCardMedia Image="images/contact-hero.jpg"  />
            </MudPaper>
        </MudItem>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" ReadOnly="false">
                <MudTextField T="string" Label="Name" Required="true" RequiredError="Name is required!" ReadOnly="true"/>
                <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!"
                              Validation="@(new EmailAddressAttribute() { ErrorMessage = "The email address is invalid" })" ReadOnly="true"/>
                <MudTextField T="string" Label="Subject" Required="false"/>
                <MudTextField T="string" Label="Let's Get In Touch" Variant="Variant.Text" Text="@EmailBody" Lines="10" Class="my-5"/>
                <div class="d-flex">
                    <MudRadioGroup T="string" Required="false" RequiredError="Account type is required!">
                        <MudRadio Option="@("Personal")" Color="Color.Primary" Dense="true">Personal</MudRadio>
                        <MudRadio Option="@("Professional")" Color="Color.Primary" Dense="true">Professional</MudRadio>
                    </MudRadioGroup>
                </div>

            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(() => form.Validate())">Submit</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(() => form.ResetAsync())" Class="mx-2">Reset</MudButton>
        </MudPaper>
    </MudItem>

</MudGrid>

@code {
    bool success;
    string[] errors = { };
   
    MudForm form;

    
    public string EmailBody { get; set; }

}