@using System.Text.Json
<MudGrid>
    @if (!Repositories.Any())
    {
        @for (int i = 0; i < 4; i++)
        {
            <MudItem sm="12" md="6" key="@Guid.NewGuid().ToString()">
                <PlaceHolderAnimation/>
            </MudItem>
        }
    }
    @foreach (var repo in Repositories)
    {
        <MudItem sm="12" md="6" key="@Guid.NewGuid().ToString()">
            <MudCard Class="rounded-lg" >
                <MudCardMedia Image="images/repository-open-graph-template.png" Height="250"/>
                <MudCardContent>
                    <MudText Color="Color.Secondary" Typo="Typo.h5">@repo.Name</MudText>
                    @* <MudText Typo="Typo.body2"></MudText> *@
                </MudCardContent>
                <MudCardActions>
                    <div style="height: 80px">
                        @foreach (var lang in repo.Languages)
                        {
                            <MudChip Size="Size.Small" Variant="Variant.Outlined" Color="Color.Primary">@($"{lang.Key}: {String.Format("{0:P2}", lang.Value)}")</MudChip>
                        }
                    </div>
                    <MudSpacer/>
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="@repo.RepoLink" Target="_blank"/>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>

@code
{
    [Parameter]
    public List<Repository> Repositories { get; set; } = new List<Repository>();
  
    public void PrettyWrite(object obj )
    { 
        var jsonString = JsonSerializer.Serialize(obj, new JsonSerializerOptions{WriteIndented = true});
 
        //Console.WriteLine(jsonString);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        PrettyWrite(Repositories);
    }
}